<!-- <h1 [hidden]="username === ''" >welcome {{username}} </h1>
<p [hidden]="username !== ''">Please enter your username</p>
<hr>
<label>Enter username</label>
<br>
<input type="text" (input)="UsernameInputChanged($event)">
<br>
<label>Enter password</label>
<br>
<input type="password" (input)="PasswordInputChanged($event)">
<br>
<label>Retype password</label>
<br>
<input type="password" (input)="RetypeInputeChanged($event)">
<br>
<label [hidden]="isPasswordmatch || password === ''" >Password do not match</label>
<label [hidden]="!isPasswordmatch" >Password match!</label> -->


<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6">
      <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900" [hidden]="username === ''" >welcome {{username}} </h1>
      <p class="mt-10 text-center text-xl font-medium leading-9 tracking-tight text-neutral-900" [hidden]="username !== ''">Please enter your username</p>
      
      
      <div>
        <label  class="block text-sm font-medium leading-6 text-gray-900">username</label>
        <div class="mt-2">
          <input type="text" (input)="UsernameInputChanged($event)"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label class="block text-sm font-medium leading-6 text-gray-900">Password</label>
        </div>

        <div class="mt-2">
          <input type="password" (input)="PasswordInputChanged($event)" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label class="block text-sm font-medium leading-6 text-gray-900">Retype Password</label>         
        </div>

        <div class="mt-2">
          <input id="password" name="password" type="password" (input)="RetypeInputeChanged($event)" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
        
        <label [hidden]="isPasswordmatch || password === ''" >Password do not match</label>
        <label [hidden]="!isPasswordmatch" >Password match!</label> 
      </div>
        
    </form>
  </div>
</div>
